@font-face {
    font-family: 'Mosk';
    src: url('/Type/Mosk Thin 100.ttf');
    font-weight: 100;
  }
  
  @font-face {
    font-family: 'Mosk';
    src: url('/Type/Mosk Extra-Light 200.ttf');
    font-weight: 200;
  }
  
  @font-face {
    font-family: 'Mosk';
    src: url('/Type/Mosk Light 300.ttf');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Mosk';
    src: url('/Type/Mosk Normal 400.ttf');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Mosk';
    src: url('/Type/Mosk Medium 500.ttf');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'Mosk';
    src: url('/Type/Mosk Semi-Bold 600.ttf');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Mosk';
    src: url('/Type/Mosk Bold 700.ttf');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Mosk';
    src: url('/Type/Mosk Extra-Bold 800.ttf');
    font-weight: 800;
  }
  
  @font-face {
    font-family: 'Mosk';
    src: url('/Type/Mosk Ultra-Bold 900.ttf');
    font-weight: 900;
  }

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
  

    /*========== BASE ==========*/

    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    html {
        scroll-behavior: smooth;
    }

    ul{
        list-style:none;
    }

    a{
        text-decoration: none;
    }

    /*========== Reusable CSS Classes ==========*/

    .container{
        margin-inline: 1rem;
    }

    .main{
        overflow: hidden; /*For scrollreveal animations*/
    }

    .button {
        display: inline-flex;
        border-radius: 6px;
        color: white;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        justify-content: center; 
        align-items: center; 
        
    }
    /*========== Header & Navbar ==========*/

    .header {
        position: fixed;
        height: 75px;
        width: 100%;
        background-color: white;
        top: 0;
        left: 0;
        z-index: 1;
        
    }

    .nav{
        height: 75px;
        display: flex;
        justify-content: space-between ;
        align-items: center;
    }

    .nav__logo{
        color: #FF7260;
        text-align: center;
        font-family: 'Mosk',sans-serif;
        font-size: 18px;
        font-weight: 900;
        line-height: 85.02px; /* 425.1% */
        letter-spacing: 0.6px;
    }

    .outline{
        color: transparent;
        text-align: center;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #FF7260;
        font-family: 'Mosk',sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: 85.02px; /* 425.1% */
        letter-spacing: 0.6px; 
    }

    .nav__toggle,
    .nav__close{
        display: flex;
        font-size: 1.25rem;
        color: #FF7260;
        cursor: pointer;
    }

    /*========== Media queries for Mobile devices ==========*/

    @media screen and (max-width: 1023px){
        .nav__menu{
            position: fixed;
            top: 0;
            right: -100%;
            background-color: hsla(0,0%,10%,0.3);
            width: 75%;
            height: 100%;
            padding: 4.5rem 0 0 3rem;
            backdrop-filter: blur(24px);
            -webkit-backdrop-filter: blur(24px);
            transition: right 0.4s;

        }
    }

    .nav__list{
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }

    .nav__link{
        font-family: 'Mosk', sans-serif;
        color: white;
        font-weight: medium;
        transition: color 0.4s;    
    }

    .nav__link:hover{
        color: #FF7260;
    }

    .nav__close{
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }

    /*Show menu*/

    .show-menu{
        right: 0; 
    }

    /*========== Home ==========*/

    .home-section{
        margin-top: 60px;
        background-color: #FF7260;
    }

    .home__container {
        padding-top: 2rem;
    }

    .home__content{
       display: grid;
       row-gap: 2rem;  
    }

    .home__title{
        margin-top: 75px;
        text-align: center;
        font-family: 'Mosk',sans-serif;
        font-size: 45px;
        font-style: normal;
        font-weight: 900;
        line-height: 45px; /* 125% */
        letter-spacing: 0.6px;
        color: white;
        
    }

    .outline-white{
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }
    
    .home__description{
        
        margin-top: 50px;
        text-align: center;
        font-family: 'Mosk',sans-serif;
        font-size: 45px;
        font-style: normal;
        font-weight: 900;
        line-height: 55px; /* 125% */
        letter-spacing: 0.6px;
        color: white;
        
    }

    .home__social{
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-around;
        
    }

    .home__social-link{
        text-align: center;
        align-items: center;
        width: 60px;
        height: 60px;
        padding-top: 16px;
        border-radius: 20px;
        box-shadow:  -10px -10px 19px #FF8070, 10px 10px 19px #F3614E;
        background-image: linear-gradient(145deg, #FF7260 0%, #EB5643 100%);
    }

    .home__image{
        text-align: center;
        padding-bottom: 60px;
    }

    .home__blob{
       width: 320px;
       fill: #FFF5C2; 
       filter: drop-shadow(0px 13px 18px #ECDD8F);
    }

        /*========== About ==========*/

    .about-section{
        background-color: #6FDCBF;
    }

    .about__container {
        padding-top: 2rem;
    }

    .about__data{
        text-align: center;
    }

    .about__title{
        margin-top: 40px;
        text-align: center;
        font-family: 'Mosk',sans-serif;
        font-size: 45px;
        font-weight: 900;
        color: white;
        
    }

    .about__description{
        padding: 0 30px 0 30px;
        margin-top: 50px;
        text-align: center;
        font-family: 'Inter',sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 35px; /* 125% */
        letter-spacing: 0.6px;
        color: white;
        
    }

    .cv__container{
        width: 180px; 
        height: 70px; 
        margin-top: 50px;
        margin-bottom: 50px; 
        background: linear-gradient(91deg, #6FDCBF 0%, #44B496 100%); 
        box-shadow: -10px -10px 19px #8CF3D8, 10px 10px 19px #5ACBAD; 
    }

    /*========== Skills ==========*/
 
    .skills-section{
        background-color: #3C8EFC;
    }

    .skills__container {
        padding-top: 2rem;
    }

    .skills__data{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .skills__title{
        margin-top: 40px;
        text-align: center;
        font-family: 'Mosk',sans-serif;
        font-size: 45px;
        font-weight: 900;
        color: white;
        
    }

    .skills__description{
        padding: 0 30px 0 30px;
        margin-top: 50px;
        text-align: center;
        font-family: 'Inter',sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 35px; /* 125% */
        letter-spacing: 0.6px;
        color: white; 
    }

    .item__number{
        color:#00275C;
    }

    .skills__list{
        padding-left:60px;
        align-items: center;
        justify-content: center;
        text-align: left;
        list-style: none;
        margin-top: 50px;
        font-family: 'Inter',sans-serif;
        font-size: 16px;
        font-weight: 800;
        line-height: 35px; /* 125% */
        color: #ffffff;    
    }

    .skills__list li{
        padding-top: 5px;
    }

    .view__project{
        width: 180px; 
        height: 70px; 
        margin-top: 50px;
        margin-bottom: 50px; 
        background: linear-gradient(91deg, #5BA1FF 0%, #2C74D4 100%); 
        box-shadow: -10px -10px 19px #529CFF, 10px 10px 19px #347CDD; 
    }
   
     /*========== Projects ==========*/

     .projects-section{
        background-color: #928FF2;
    }

    .projects__container {
        padding-top: 1rem;
    }

    .projects__data{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .project__title{
        margin-top: 40px;
        margin-bottom: 60px;
        text-align: center;
        font-family: 'Mosk',sans-serif;
        font-size: 45px;
        font-weight: 900;
        color: white;
        
    }

    .project__card{
        width: 320px; 
        height: 400px; 
        background: #6965CE; 
        border-radius: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .project__image{
        width: 300px; 
        height: 280px;
        margin-top: 10px; 
        border-radius: 20px;
    }

    .project__name{
        margin-top: 5px;
        font-family: 'Inter',sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 35px; /* 125% */
        letter-spacing: 0.6px;
        color: white;
    }

    .button__container{
        display: flex;
        justify-content: space-around;
        margin: 5px 0;
    }

    .view__more{
        width:130px;
        height:50px;
        background: linear-gradient(91deg, #928FF2 0%, #6D6AD1 100%); 
        box-shadow: -5px -5px 19px rgba(145.32, 142.24, 223.12, 0.85), 5px 5px 19px #4542AB ; 
        border-radius: 80px; 
        
    }

    .live__page{
        width:130px;
        height:50px;
        background: linear-gradient(91deg, #928FF2 0%, #6D6AD1 100%); 
        box-shadow: -5px -5px 19px rgba(145.32, 142.24, 223.12, 0.85), 5px 5px 19px #4542AB ; 
        border-radius: 80px; 
        
    }

    .projects__data div:nth-of-type(6){
        margin-bottom: 75px;
    }

    /*========== Contact me section ==========*/
