@font-face {
    font-family: 'Mosk';
    src: url('/Type/Mosk Thin 100.ttf');
    font-weight: 100;
  }
  
  @font-face {
    font-family: 'Mosk';
    src: url('/Type/Mosk Extra-Light 200.ttf');
    font-weight: 200;
  }
  
  @font-face {
    font-family: 'Mosk';
    src: url('/Type/Mosk Light 300.ttf');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Mosk';
    src: url('/Type/Mosk Normal 400.ttf');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Mosk';
    src: url('/Type/Mosk Medium 500.ttf');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'Mosk';
    src: url('/Type/Mosk Semi-Bold 600.ttf');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Mosk';
    src: url('/Type/Mosk Bold 700.ttf');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Mosk';
    src: url('/Type/Mosk Extra-Bold 800.ttf');
    font-weight: 800;
  }
  
  @font-face {
    font-family: 'Mosk';
    src: url('/Type/Mosk Ultra-Bold 900.ttf');
    font-weight: 900;
  }

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
  

/*========== BASE ==========*/

    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    html {
        scroll-behavior: smooth;
    }

    ul{
        list-style:none;
    }

    a{
        text-decoration: none;
    }

/*========== Reusable CSS Classes ==========*/

    .container{
        margin-inline: 1rem;
    }

    .main{
        overflow: hidden; /*For scrollreveal animations*/
    }

    .button {
        display: inline-flex;
        border-radius: 6px;
        color: white;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        justify-content: center; 
        align-items: center; 
        
    }


    #about{
        scroll-margin-top: 70px ;
    }

    #skills{
        scroll-margin-top: 50px ; 
    }
    
    #projects{
        scroll-margin-top: 70px ; 
    }
    
    #contact{
        scroll-margin-top:75px;
    }

    /*========== Header & Navbar ==========*/

    .header {
        position: fixed;
        height: 75px;
        width: 100%;
        background-color: white;
        top: 0;
        left: 0;
        z-index: 1;
        
    }

    .nav{
        height: 75px;
        display: flex;
        justify-content: space-between ;
        align-items: center;
    }

    .nav__logo{
        color: #FF7260;
        text-align: center;
        font-family: 'Mosk',sans-serif;
        font-size: 18px;
        font-weight: 900;
        line-height: 85.02px; /* 425.1% */
        letter-spacing: 0.6px;
    }

    .outline{
        color: transparent;
        text-align: center;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #FF7260;
        font-family: 'Mosk',sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: 85.02px; /* 425.1% */
        letter-spacing: 0.6px; 
    }

    .nav__toggle,
    .nav__close{
        display: flex;
        font-size: 1.25rem;
        color: #FF7260;
        cursor: pointer;
    }

/*========== Media queries for Mobile devices ==========*/

    @media screen and (max-width: 1023px){
        .nav__menu{
            position: fixed;
            top: 0;
            right: -100%;
            background-color: white;
            width: 40%;
            height: 100%;
            padding: 4.5rem 0 0 3rem;
            transition: right 0.4s ease-in-out;
        }
    }

    .nav__list{
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        text-align: center;
    }

    .nav__link{
        font-family: 'Inter', sans-serif;
        font-weight: medium; 
    }

    .nav__link:hover{
        color:white;   
        padding: 20px 80px;
        border-radius: 10px;
    }

    .home:hover{
        background-color: #FF7260;
    }
    .about:hover{
        background-color: #6FDCBF; 
    }
    .skills:hover{
        background-color: #3C8EFC; 
    }
    .projects:hover{
        background-color: #928FF2;
    }
    .contact:hover{
        background-color: #272B38;
    }

    .nav__close{
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }

    /*Show menu*/

    .show-menu{
        right: 0; 
    }

/*========== Home ==========*/

    .home-section{
        margin-top: 60px;
        background-color: #FF7260;
    }

    .home__container {
        padding-top: 2rem;
    }

    .home_content{
        display: grid;
        row-gap: 2rem;  
    }

    .home__title{
        margin-top: 75px;
        text-align: center;
        font-family: 'Mosk',sans-serif;
        font-size: 45px;
        font-style: normal;
        font-weight: 900;
        line-height: 45px; /* 125% */
        letter-spacing: 0.6px;
        color: white;
        
    }

    .outline-white{
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }
    
    .home__description{
        
        margin-top: 50px;
        text-align: center;
        font-family: 'Mosk',sans-serif;
        font-size: 45px;
        font-style: normal;
        font-weight: 900;
        line-height: 55px; /* 125% */
        letter-spacing: 0.6px;
        color: white;
        
    }

    .home__social{
        margin-top: 40px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(3,100px);
        justify-content: center;
        
    }

    .home__social-link{
        text-align: center;
        align-items: center;
        width: 60px;
        height: 60px;
        padding-top: 16px;
        border-radius: 10px;
        background-image: linear-gradient(145deg, #FF7260 0%, #EB5643 100%);
        box-shadow:  -10px -10px 19px #FF8070, 10px 10px 19px #F3614E;
    }

    .home__social-link:hover{
        background-image: linear-gradient(145deg, #ffc4bc 0%, #ff553f 100%);
    }

    .home__image{
        text-align: center;
        padding-bottom: 60px;
    }

    .home__blob{
       width: 320px;
       fill: #FFF5C2; 
       filter: drop-shadow(0px 13px 18px #ECDD8F);
    }

/*========== About ==========*/

    .about-section{
        background-color: #6FDCBF;
    }

    .about__container {
        padding-top: 2rem;
    }

    .about__data{
        text-align: center;
    }

    .about__blob{
        display: none;
    }

    .about__title{
        margin-top: 40px;
        text-align: center;
        font-family: 'Mosk',sans-serif;
        font-size: 45px;
        font-weight: 900;
        color: white; 
    }

    .about__description{
        padding: 0 30px 0 30px;
        margin-top: 50px;
        text-align: center;
        font-family: 'Inter',sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 35px; /* 125% */
        letter-spacing: 0.6px;
        color: white;
        
    }

    .cv__container{
        width: 180px; 
        height: 70px; 
        margin-top: 50px;
        margin-bottom: 50px; 
        background: linear-gradient(145deg, #6FDCBF 0%, #44B496 100%); 
        box-shadow: -10px -10px 19px #8CF3D8, 10px 10px 19px #5ACBAD; 
        transition: width 0.6s;
    }


    .cv__container:hover{ 
        background: linear-gradient(145deg, #9efae2 0%, #33c79f 100%);   
        width: 400px;  
    }

/*========== Skills ==========*/
 
    .skills-section{
        background-color: #3C8EFC;
    }

    .skills__container {
        padding-top: 2rem;
    }

    .skills__data{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .skills__title{
        margin-top: 40px;
        text-align: center;
        font-family: 'Mosk',sans-serif;
        font-size: 45px;
        font-weight: 900;
        color: white;
        
    }

    .skills__description{
        padding: 0 30px 0 30px;
        margin-top: 50px;
        text-align: center;
        font-family: 'Inter',sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 35px; /* 125% */
        letter-spacing: 0.6px;
        color: white; 
    }

    .skills__content,
    .skills__group{
        display: grid;
    }

    .skills__content{
        grid-template-columns: repeat(2, max-content);
        column-gap: 4rem;
        justify-content: center;
        text-align: center;
    }


    .skills__list{
        padding-left: 50px;
        text-align: left;
        list-style: decimal-leading-zero;
        padding-bottom: 60px;
        
        
    }

    .skills__item{
        font-family: 'Inter',sans-serif;
        font-size: 16px;
        font-weight: 800;
        color: #ffffff; 
        padding-top:10px;
    }

    .skills__item::marker{
        color: #00275C;
    }

    .view__project{
        width: 180px; 
        height: 70px; 
        margin: 50px 0; 
        background: linear-gradient(145deg, #5BA1FF 0%, #2C74D4 100%); 
        box-shadow: -10px -10px 19px #529CFF, 10px 10px 19px #347CDD;
        transition: width 0.4s; 
    }

    .view__project:hover{
        background: linear-gradient(145deg, #a3cbff 0%, #63a5fa 100%);
        width: 300px;
    }
   
/*========== Projects ==========*/

     .projects-section{
        background-color: #928FF2;
        padding-top: 10px;
    }

    .projects__container{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        
    }

    .project__title{
        margin-top: 40px;
        margin-bottom: 60px;
        text-align: center;
        font-family: 'Mosk',sans-serif;
        font-size: 45px;
        font-weight: 900;
        color: white;
        
    }

    .projects__card{
        position: relative;
        border-radius: 1rem;
        overflow: hidden; 
     }
 
     .projects__modal{
         position: absolute;
         left:0;
         bottom:-100%;
         width: 100%;
         height: 96.5%;
         background: linear-gradient(0deg, rgba(72,70,135,1) 0%, rgba(146,143,242,0.5012165450121655) 50%, rgba(146,143,242,0) 100%);
         backdrop-filter: blur(4px);
         border-radius: 20px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         transition: bottom .4s ;
     }

     .projects__subtitle,
     .projects__title,
     .projects__button{
        font-family: 'Inter',sans-serif;
        color: white;
     }

     .projects__subtitle{
        display: block;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0.25rem;
     }

     .projects__title{
        font-size: 24px;
        margin-bottom: .75rem;
     }

     .projects__button{
        display: flex;
        align-items:center;
        font-size: 14px;
     }

     .projects__button iconify-icon {
        font-size: 1.25rem;
     }

     .projects__card:hover .projects__modal{
        bottom:0;
     }

    /* .projects__card{
        width: 320px; 
        height: 400px; 
        background: #6965CE; 
        border-radius: 20px;
        text-align: center;
        margin-bottom: 20px;
    } */

    .projects__img{
        width: 400px; 
        height: 280px;
        margin-top: 10px; 
        border-radius: 20px;
        text-align: center;
    }

    .project__name{
        margin-top: 5px;
        font-family: 'Inter',sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 35px; /* 125% */
        letter-spacing: 0.6px;
        color: white;
    }

    .button__container{
        display: flex;
        justify-content: space-around;
        margin: 5px 0;
    }

    .view__more{
        width:130px;
        height:50px;
        background: linear-gradient(91deg, #928FF2 0%, #6D6AD1 100%); 
        box-shadow: -5px -5px 19px rgba(145.32, 142.24, 223.12, 0.85), 5px 5px 19px #4542AB ; 
        border-radius: 80px; 
        
    }

    .live__page{
        width:130px;
        height:50px;
        background: linear-gradient(91deg, #928FF2 0%, #6D6AD1 100%); 
        box-shadow: -5px -5px 19px rgba(145.32, 142.24, 223.12, 0.85), 5px 5px 19px #4542AB ; 
        border-radius: 80px; 
        
    }

    .projects__data div:nth-of-type(6){
        margin-bottom: 75px;
    }

/*========== Contact me section ==========*/

    .contact-section{
        background-color: #272B38;
    }

   
    .contacts__title{
        padding-top: 40px;
        padding-bottom: 60px;
        text-align: center;
        font-family: 'Mosk',sans-serif;
        font-size: 45px;
        font-weight: 900;
        color: white;
    }

    .contact__form,
    .contact__group{
        display: grid;
        row-gap: 1rem;
    }

    .contact__form{
        position: relative;
    }

    .contact__input{
        margin: 0 15px;
        border:none;
        padding: 1rem 1.25rem;
        color: white;
        background-color: #1A2028;
        border-radius: 10px;
        font-size: 16px;
    }

    .contact__form textarea{
        height: 15rem;
        resize: none;
        margin-bottom: 3rem;
    }

    .contact__button{
        padding: 20px 0;
        margin: 0 75px 70px 75px; 
        background: #6FDCBF; 
        border: none;
    }

    .contact__message{
        position: absolute;
        left: 1.5rem;
        bottom: 9.5rem;
        color: white;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
    }

/*================== Footer ========================*/

    .footer__container{
        background-color: #FF7260;
        
    }

    .footer__title{
        color: #FFFFFF;
        text-align: center;
        font-family: 'Mosk',sans-serif;
        font-size: 45px;
        font-weight: 900;
        padding-top: 30px;
    }

    .footer__role{
        color: #FFFFFF;
        text-align: center;
        font-family: 'Inter',sans-serif;
        font-size: 20px;
        font-weight: 100; 
        margin-top:-10px;   
    }

    .footer__social{
        margin-top: 40px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(3,100px);
        justify-content: center;
        
    }

    .footer__social-link{
        text-align: center;
        align-items: center;
        width: 60px;
        height: 60px;
        padding-top: 16px;
        border-radius: 10px;
        background-image: linear-gradient(145deg, #FF7260 0%, #EB5643 100%);
        box-shadow:  -10px -10px 19px #FF8070, 10px 10px 19px #F3614E;
    }

    .footer__social-link:hover{
        background-image: linear-gradient(145deg, #ffc4bc 0%, #ff553f 100%);
    }


    .footer__copy{
        color: #FFFFFF;
        text-align: center;
        font-family: 'Inter',sans-serif;
        font-size: 10px;
        font-weight: 100;  
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

/*=============== Scroll Bar ======================*/

    ::-webkit-scrollbar{
        width: 0.6rem;
        border-radius: 0.5rem;
        background-color: hsla(7, 100%, 100%, 1);
    }

    ::-webkit-scrollbar-thumb{
        background-color: hsla(0, 0%, 40%, 1);
        border-radius: 0.5rem;
    }

    ::-webkit-scrollbar-thumb:hover{
        background-color: hsl(228,8%, 45%);
    }

/*=============== Scroll Up ======================*/

    .scrollup{
        position: fixed;
        right: 1rem;
        bottom: -50%;
        background-color: white ;
        padding: 15px 17.5px;
        border-radius: 25px;
        display: inline-flex;
        color: #272B38 ;
        font-size: 1.25rem;
        transition: bottom .4s, transform .4s;
    }

    .scrollup:hover{
        transform: translateY(-.25rem);
    }

/*=============== Show scroll Up ======================*/

    .show-scroll{
        bottom:3rem;
    }

/*=============== Media queries ======================*/

@media screen and (max-width: 508px){
    .skills__content{
        grid-template-columns: max-content;
        padding-top: 40px;
    }

    .skills__list{
        margin-top: 0;
    }
}

@media screen and (min-width: 576px){
    .home__container, 
    .about__container, 
    .skills__container,
    .projects__container,
    .contact__container{
        grid-template-columns: 360px;
        justify-content: center;
    }
}

@media screen and (min-width: 1023px){
    
    .header{
        background-color: white;
    }

    .nav__logo{
        color: #FF7260;
        font-family: 'Mosk',sans-serif;
        font-size: 25px;
        font-weight: 900;
    }

    .outline{
        color: transparent;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #FF7260;
        font-family: 'Mosk',sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 900;
    }

    

    .nav__list{
        display: flex;
        flex-direction: row;
    }

    .nav__item{
        padding:0 15px;
    }

    .nav__toggle,
    .nav__close{
        display: none;
    }

    .nav__link{
        font-size: 14px;
        font-weight: 600;
        color: #1A2028;
        text-transform: uppercase;
    }

    .nav__link:hover{
        color:white;   
        padding: 20px;
        border-radius: 10px;
    }

    .home-section{
        padding-top: 50px;
        background-color: #FF7260;
        height: 1000px;
        width:100%;
    }

    .home__container{
        display: flex;
        align-items: center;
    }

    .home__title{
        margin-top: 50px;
        padding-left: 20px;
        text-align: left;
        font-family: 'Mosk',sans-serif;
        font-size: 70px;
        font-style: normal;
        font-weight: 900;
        line-height: 70px; /* 125% */
        letter-spacing: 0.6px;
        color: white;  
    }
    
    .home__description{
        margin-top: 50px;
        padding-left: 20px;
        width:475px;
        text-align: left;
        font-family: 'Mosk',sans-serif;
        font-size: 60px;
        font-style: normal;
        font-weight: 900;
        line-height: 60px; /* 125% */
        letter-spacing: 0.6px;
        color: white;    
    }

    .home__blob{
        width:500px;
    }

    .home__social{
        justify-content: left;
        padding-left: 20px;
        
    }

    .about-section{
        background-color: #6FDCBF;
        height: 600px;
        width:100%;
    }



    .about__data{
        display: grid;
        grid-template-columns: auto auto;
        width:100%;
    }

    .about__blob{
        display: flex;
        width: 500px;
        padding: 0 75px 0 0;
    }

    .about__content{
        display: flex;
        flex-wrap: wrap;
        width:600px;
        text-align: center;
    }

    .about__title{
        margin-top: 40px;
        font-size: 60px;
    }

    .about__description{
        width:600px; 
        text-align: left;
        padding: 15px 100px 0 0;
        margin-top: 0px;
    }

    .cv__container{
        margin-top: 30px;
    }

    .skills-section{
        padding-left: 50px;
    }


    .skills__data{
        display: flex;
        flex-wrap: wrap;
        width:400px;
        height: 500px;
    }

    .skills__title{
        margin-top: 40px;
        font-size: 60px;
        text-align: left;
        
    }

    .skills__description{
        text-align: center;
        width: 100%;
        padding-left: 35px;
    }    
    

    .skills__content,
    .skills__group{
        display: grid;
    }

    .skills__content{
        padding-left: 50px;
        grid-template-columns: repeat(2, max-content);
        column-gap: 4rem;
        justify-content: center;
        text-align: center;
    }


    .skills__list{
        padding-left: 50px;
        text-align: left;
        list-style: decimal-leading-zero;
        margin-top: 100px;
        
        
    }

    .skills__item{
        font-size: 14px;
        padding-top:1.75rem;
    }

    .view__project{
        width: 180px; 
        height: 70px; 
        margin: 50px 0;
         
    }

    .projects__container{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        column-gap: 2rem;
        padding-bottom: 60px;
    }


    .project__title{
        font-size: 60px;
    }

    /* .projects__card{
        width: 100px; 
        height: 400px; 
        background: #6965CE; 
        border-radius: 20px;
        text-align: center;
        margin-bottom: 20px;
    } */

    .projects__data div:nth-of-type(6){
        margin-bottom: 20px;
    }

    

   
}

